#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/** Navbar **/
.navbar {
  left: 0%;
  right: 0%;
  position: fixed;
  display: flex;
  top: 0px;
  box-shadow: 2px 2px 5px white;
  z-index: 2;
  background-color: #242424;
}

#nav--left {
  flex: 1;
  display: flex;
}

#nav--left:first-child {
  justify-content: left;
  align-items: center;
  padding-left: 2%;
}

#nav--right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.page--button {
  background-color: #242424;
}

.nav--item {
  color: white;
}

.nav--item:first-child {
  float: left;
}

.nav--item:hover {
	color: #b27be5;
	transition: 0.5s;
}

.nav--item:hover:after {
    transform: scaleX(1);
}

.nav--item::after {
    display:block;
    content: '';
    border-bottom: solid 3px #b27be5;
    transform: scaleX(0);  
    transition: 350ms ease-in-out;
    transform-origin: 0% 50%;
}

/** Movie Items **/
.movie--list {
  padding-top: 50px;
}

.movie--item {
  display:flex;
  justify-content:space-between;
  height:6rem;
}
.buytickets--button {
  margin-left: .5rem;
}