#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/** Navbar **/
.navbar {
  left: 0%;
  right: 0%;
  position: fixed;
  display: flex;
  top: 0px;
  box-shadow: 2px 2px 5px white;
  z-index: 2;
}

#nav--left {
  flex: 1;
  display: flex;
}

#nav--right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.page--button {
  background-color: #242424;
}

.nav--item {
  color: white;
}

.nav--item:hover {
	color: #b27be5;
	transition: 0.5s;
}

.nav--item:hover:after {
    transform: scaleX(1);
}

.nav--item::after {
    display:block;
    content: '';
    border-bottom: solid 3px #b27be5;
    transform: scaleX(0);  
    transition: 350ms ease-in-out;
    transform-origin: 0% 50%;
}