#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
	display: flex; 
	align-items: center; 
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
}

.column {
	flex-direction: column;
}

.row {
	flex-direction: row;
}

/** Navbar **/
.navbar {
  left: 0%;
  right: 0%;
  position: fixed;
  display: flex;
  background: #242424;
  top: 0px;
  box-shadow: 2px 2px 5px white;
  z-index: 2;
}

#nav--left {
  flex: 1;
  display: flex;
}

#nav--left:first-child {
  justify-content: left;
  align-items: center;
  padding-left: 2%;
}

#nav--right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.page--button {
  background-color: #242424;
}

.nav--item {
  color: white;
}

.nav--item:first-child {
  float: left;
}

.nav--item:hover {
	color: #b27be5;
	transition: 0.5s;
}

.nav--item:hover:after {
    transform: scaleX(1);
}

.nav--item::after {
    display:block;
    content: '';
    border-bottom: solid 3px #b27be5;
    transform: scaleX(0);  
    transition: 350ms ease-in-out;
    transform-origin: 0% 50%;
}


/** Movie Item **/
.movie--item {
	position: relative;
	height: 300px;
	width: 300px;
	margin: 3%;
}

.movie--item-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 6px;
	background: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.movie--item-info {
  transition: .5s;
	color: black;
	text-align: center;
	margin-left: 25px;
	margin-right: 25px;
	padding-left: 25px;
	padding-right: 25px;
}